.image{
    /* background-image: url("https://images.template.net/wp-content/uploads/2014/09/Beautiful-Background-Wallpaper-Copy.jpg" ); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    width: 100%;
    height: 680px;
}
body {
    background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

}
.navbar {
    /* width: 100%; */
    /* overflow: auto; */
    font-size: 20px;
}
#bg{
    background-color: black;
}