    .fixTableHead {
      overflow-y: auto;
      height: 260px;
      margin-left: 100px;
      margin-right: 100px;
    }
    .fixTableHead thead th {
      position: sticky;
      top: 0;
    }
   
    th {
      background: gray;
    }
    .bg{
      background-color: black;
  }
  .theight{
    height: 395px;
}