﻿section {
    background-image: url("https://images.pexels.com/photos/851020/pexels-photo-851020.jpeg?cs=srgb&dl=pexels-bowo-sg-851020.jpg&fm=jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

h1 {
    background-color: #48B4B4;
    font-size: 30px;
    padding: 20px;
    color: white;
    text-align: center;
}

.formstyle {
    width: 290px;
    height: 330px;
    margin: auto;
    border: 5px solid royalblue;
    background-color: #A8DAFC;
    border-radius: 30px;
    padding: 20px;
}

input {
    width: 100px;
    background-color: silver;
    color: black;
    border: 3px rgba(92, 92, 92, 0.137);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

p {
    border-radius: 5px;
    font-size: 20px;
    background-color: green;
}
.h2 {
    background-color: #D0D3D4;
    height: 100px;
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #000;
        }

.active {
    background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

