﻿* {
    max-width: 1200px;
    margin: auto;
}
section {
    width: 1000px;
    border: 5px solid;
    background-color: #e0eeee;
}

div {
    border-radius: 5px;
 
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.size {
    font-size: 100%;
    background-color: gray;
    padding: 1px;
    text-align: center;
}
.navbar {
    width: 100%;
    background-color: aliceblue;
    overflow: auto;
}

    .navbar a {
        float: left;
        padding: 12px;
        color: black;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: cornsilk;
        }

.active {
    background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }

    .h2 {
        background-color: #D0D3D4;
        height: 100px;
        width: 100%;
    }


