﻿.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Algerian;
}

section {
    background-image: url("https://images.pexels.com/photos/851020/pexels-photo-851020.jpeg?cs=srgb&dl=pexels-bowo-sg-851020.jpg&fm=jpg");
    background-color: #212121;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}
h1 {
    background-color: #F8F9F9;
    height: 100px;
    width: 100%;
    text-align:center;
    font-size:75px;
}
.h2 {
    background-color: #D0D3D4;
    height: 100px;
    width: 100%;
}
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #000;
        }

.active {
    background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}