﻿section {
    background-image: url("https://images.pexels.com/photos/9665802/pexels-photo-9665802.jpeg?cs=srgb&dl=pexels-cameron-mcmurtrey-9665802.jpg&fm=jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

h1 {
    background-color: #1C2833;
    font-size: 30px;
    padding: 20px;
    color: white;
    text-align: center;
}

.style {
    width: 310px;
    height: 530px;
    margin: auto;
    border: 5px solid black;
    background-color: #3498;
    border-radius: 30px;
    padding: 20px;
}
.h2 {
    background-color: #D0D3D4;
    height: 100px;
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #000;
        }

.active {
    background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}
